.app {
background: linear-gradient(rgb(223, 73, 73), 30% , rgb(211, 160, 160) );
padding: 30px; 
height: 100vh;
}

.todo-list { 
  background:rgb(241, 239, 239);
  border-radius: 4px;
  padding: 5px;  
  max-width: 400px;
}

.todo { 
  background: rgb(241, 239, 239); 
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15); 
  padding: 3px 10px; 
  font-size: 12px; 
  font-family: inherit;
  margin-bottom: 6px; 
  border-radius: 3px; 
  display: flex;  
  align-items: center; 
  justify-content: space-between;
  text-align: left;
}

.todo-title { 
  font-weight: bold;
  font-family: inherit;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input { 
  width: 99%;
}